.transactionHistory {
    width: 100%;
    margin-top: 50px;
    border: 2px dotted rgb(28, 1, 15);
    
}

thead {
    background-color: #940d59;
    color: #ffffff;
}

tr {
    text-align: center;
    height: 30px;
}

tr:nth-child(2n) {
    background-color: #e7ead1;
}